# Ansible Role: mongodb
# File: /tasks/config.yml
# Description: Managed by doc-sync workflow

---
- name: conf | set
  ansible.builtin.template:
    src: mongod.conf.j2
    dest: /etc/mongod.conf
    owner: root
    group: root
    mode: "0644"
  register: mongodb_conf_set

- name: conf | ensure mongod is started and enabled (systemd)
  ansible.builtin.service:
    name: mongod
    state: started
    enabled: true
  when: mongodb_is_systemd
  ignore_errors: true

- name: conf | supervisor fallback
  ansible.builtin.include_tasks: supervisor.yml
  when: not mongodb_is_systemd

- name: conf | restart mongod service one by one, after a config change, if set (systemd)
  ansible.builtin.service:
    name: mongod
    state: restarted
  run_once: true
  delegate_to: "{{ item }}"
  loop: "{{ ansible_play_hosts }}"
  when:
    - mongodb_is_systemd
    - mongodb_restart_config
    - mongodb_conf_set.changed
  ignore_errors: true

- name: conf | restart mongod service one by one, after a config change, if set (supervisor)
  ansible.builtin.command: supervisorctl restart mongod
  run_once: true
  delegate_to: "{{ item }}"
  loop: "{{ ansible_play_hosts }}"
  when:
    - not mongodb_is_systemd
    - mongodb_restart_config
    - mongodb_conf_set.changed
  ignore_errors: true

- name: conf | check cluster health after config change if applicable
  community.mongodb.mongodb_status:
    login_host: localhost
    login_port: "{{ mongodb_net.port }}"
    login_user: admin
    login_password: "{{ mongodb_admin_pass }}"
    validate: minimal
    poll: 5
    interval: 12
    replica_set: "{{ mongodb_replication.replSetName }}"

    ssl: "{{ item.ssl | default(omit) }}"
    ssl_ca_certs: "{{ item.ca_certs | default(omit) }}"
    ssl_cert_reqs: "{{ item.cert_reqs | default(omit) }}"
    ssl_certfile: "{{ item.certfile | default(omit) }}"
    ssl_crlfile: "{{ item.ssl_crlfile | default(omit) }}"
    ssl_keyfile: "{{ item.ssl_keyfile | default(omit) }}"
    ssl_pem_passphrase: "{{ item.ssl_pem_passphrase | default(omit) }}"

    auth_mechanism: "{{ item.auth_mechanism | default(omit) }}"
    connection_options: "{{ item.connection_options | default(omit) }}"
    create_for_localhost_exception: >-
      {{ item.create_for_localhost_exception | default(omit) }}
  when:
    - host_count != '1'
    - mongodb_restart_config
    - mongodb_conf_set.changed
    - mongodb_primary
