# Ansible Role: mongodb
# File: /tasks/install.yml
# Description: Managed by doc-sync workflow

---
- name: Discovery inclusion
  ansible.builtin.include_tasks: discovery.yml

- name: install | custom playbook execution
  ansible.builtin.command: "ansible-playbook {{ mongodb_install_custom_playbook }}"
  delegate_to: localhost
  run_once: true
  register: custom_install_result
  changed_when: custom_install_result.rc == 0
  when: mongodb_install_custom_playbook | default('') != ''

- name: install | repo gpg key
  ansible.builtin.rpm_key:
    key: https://www.mongodb.org/static/pgp/server-{{ mongodb_major_version | default(mongodb_version) }}.asc
  when:
    - mongodb_repo
    - mongodb_install_custom_playbook | default('') == ''

- name: install | repo
  ansible.builtin.yum_repository:
    name: "mongodb-org-{{ mongodb_major_version | default(mongodb_version) }}"
    description: "MongoDB {{ mongodb_edition }} repo"
    file: mongodb
    baseurl: >-
      https://repo.mongodb.
      {{- (mongodb_edition == 'enterprise') | ternary('com', 'org') -}}
      /yum/redhat/$releasever/mongodb-
      {{- mongodb_edition }}/
      {{- mongodb_major_version | default(mongodb_version) }}/x86_64/
    enabled: true
    gpgcheck: true
    gpgkey: https://www.mongodb.org/static/pgp/server-{{ mongodb_major_version | default(mongodb_version) }}.asc
  when:
    - mongodb_repo
    - mongodb_install_custom_playbook | default('') == ''

- name: install | group mongod
  ansible.builtin.group:
    name: mongod
    gid: 28
    system: true
  when: mongodb_install_custom_playbook | default('') == ''

- name: install | user mongod
  ansible.builtin.user:
    name: mongod
    uid: 28
    system: true
    group: mongod
    comment: "MongoDB Server"
    home: "{{ mongodb_storage.dbPath }}"
    create_home: false
    shell: /sbin/nologin
  register: set_user
  when: mongodb_install_custom_playbook | default('') == ''

- name: install | dependencies
  ansible.builtin.dnf:
    name:
      - python3-devel
      - python3-pip
    state: present
  when: mongodb_install_custom_playbook | default('') == ''

- name: install | mongo edition {{ mongodb_edition }}
  ansible.builtin.dnf:
    name: mongodb-{{ mongodb_edition }}
    state: present
  when: mongodb_install_custom_playbook | default('') == ''

- name: install | data folder
  ansible.builtin.file:
    state: directory
    path: "{{ mongodb_storage.dbPath }}"
    mode: "0770"
    owner: mongod
    group: mongod

- name: install | remove default data folder when set differently
  ansible.builtin.file:
    state: absent
    path: /var/lib/mongo
  when: mongodb_storage.dbPath != '/var/lib/mongo'

- name: install | remove log folder when set differently
  ansible.builtin.file:
    state: absent
    path: /var/log/mongodb
  when: >-
    '/var/log/mongodb' not in mongodb_systemlog.path or
    mongodb_systemlog.destination != 'file'

- block:
    - name: install | ensure log folder exists
      ansible.builtin.file:
        path: "{{ mongodb_systemlog.path | dirname }}"
        state: directory
        owner: mongod
        group: mongod
        mode: "0775"

    - name: install | stat if log file exist
      ansible.builtin.stat:
        path: "{{ mongodb_systemlog.path }}"
      register: mongodb_log_check

    - name: install | ensure log files exist
      ansible.builtin.copy:
        content: ""
        dest: "{{ mongodb_systemlog.path }}"
        force: true
        group: mongod
        owner: mongod
        mode: "0755"
      when: not mongodb_log_check.stat.exists

  when: >-
    '/var/log/mongodb' not in mongodb_systemlog.path and
    mongodb_systemlog.destination == 'file'

- name: install | pymongo {{ mongodb_pymongo_version }}
  ansible.builtin.pip:
    name: pymongo
    executable: pip3
    version: "{{ mongodb_pymongo_version }}"
    state: present

# Check firewalld status
- name: Populate service facts
  ansible.builtin.service_facts:

- name: Open ports on firewall
  ansible.posix.firewalld:
    port: "{{ mongodb_net.port }}/tcp"
    permanent: true
    immediate: true
    state: enabled
  when:
    - ansible_facts['services'] is defined
    - "'firewalld.service' in ansible_facts['services']"
    - ansible_facts['services']['firewalld.service']['state'] == 'running'
