# Ansible Role: mongodb
# File: /tasks/main.yml
# Description: Managed by doc-sync workflow

---
# this reset playbook is meant for development, thus commented out by design
# - include_tasks: reset.yml

# Do not skip, it is required
- ansible.builtin.include_tasks: assert.yml

- name: Detect | Check if systemd is running
  ansible.builtin.command: ps -p 1 -o comm=
  register: mongodb_init_system
  changed_when: false
  ignore_errors: true

- name: Detect | Set systemd status
  ansible.builtin.set_fact:
    mongodb_is_systemd: "{{ mongodb_init_system.stdout == 'systemd' }}"

- ansible.builtin.include_tasks: install.yml

- ansible.builtin.include_tasks: thp.yml
  when: mongodb_thp

- ansible.builtin.include_tasks: numa.yml
  when: mongodb_numa

- ansible.builtin.include_tasks: keyfile.yml
  when:
    - host_count != '1'
    - mongodb_security.keyFile is defined

- ansible.builtin.include_tasks: user_init.yml
  when: set_user.changed

- ansible.builtin.include_tasks: cluster.yml
  when: host_count != '1'

- ansible.builtin.include_tasks: config.yml

- ansible.builtin.include_tasks: user.yml
  when:
    - mongodb_user | length > 0
    - host_count == '1' or mongodb_primary

- ansible.builtin.include_tasks: backup.yml
  when: mongodb_backup.enabled
