# Ansible Role: mongodb
# File: /tasks/main.yml
# Description: Managed by doc-sync workflow

---
# this reset playbook is meant for development, thus commented out by design
# - include_tasks: reset.yml

# Do not skip, it is required
- ansible.builtin.include_tasks: assert.yml
  tags: [mongodb_assert, mongodb_all]

- ansible.builtin.include_tasks: discovery.yml
  tags: [mongodb_discovery, mongodb_system, mongodb_all]

- ansible.builtin.include_tasks: install.yml
  tags: [mongodb_install, mongodb_system, mongodb_all]

- ansible.builtin.include_tasks: thp.yml
  when: mongodb_thp and not mongodb_is_container
  tags: [mongodb_thp, mongodb_system, mongodb_all]

- ansible.builtin.include_tasks: numa.yml
  when: mongodb_numa
  tags: [mongodb_numa, mongodb_system, mongodb_all]

- ansible.builtin.include_tasks: keyfile.yml
  when:
    - host_count | int != 1
    - mongodb_security.keyFile is defined
  tags: [mongodb_keyfile, mongodb_replicaset, mongodb_all]

- ansible.builtin.include_tasks: user_init.yml
  when:
    - (set_user is defined and set_user.changed) or (mongodb_user_init_force | default(false))
    - mongodb_manage_service | default(true) | bool
  tags: [mongodb_user_init, mongodb_system, mongodb_all]

- ansible.builtin.include_tasks: cluster.yml
  when: host_count | int != 1
  tags: [mongodb_cluster, mongodb_replicaset, mongodb_arbiter, mongodb_all]

- ansible.builtin.include_tasks: sharding.yml
  when: mongodb_sharding_role | default('') != ''
  tags: [mongodb_sharding, mongodb_shard, mongodb_all]

- ansible.builtin.include_tasks: tls.yml
  tags: [mongodb_tls, mongodb_system, mongodb_security, mongodb_all]

- ansible.builtin.include_tasks: config.yml
  tags: [mongodb_config, mongodb_system, mongodb_all]

- ansible.builtin.include_tasks: user.yml
  when:
    - mongodb_user | length > 0
    - host_count | int == 1 or mongodb_primary
  tags: [mongodb_user, mongodb_security, mongodb_all]

- ansible.builtin.include_tasks: backup.yml
  when:
    - mongodb_backup.enabled | default(false) | bool
    - mongodb_manage_service | default(true) | bool
  tags: [mongodb_backup, mongodb_system, mongodb_all]
