# Ansible Role: mongodb
# File: /tasks/thp.yml
# Description: Managed by doc-sync workflow

---
- name: thp | install tuned
  ansible.builtin.dnf:
    name: tuned
    state: present
  when: not mongodb_is_container

- name: thp | tuned dir
  ansible.builtin.file:
    path: /etc/tuned/virtual-guest-no-thp
    state: directory
    owner: root
    group: root
    mode: "0755"
  when: not mongodb_is_container

- name: thp | tuned conf file
  ansible.builtin.template:
    src: tuned.j2
    dest: /etc/tuned/virtual-guest-no-thp/tuned.conf
    owner: root
    group: root
    mode: "0644"
  register: tuned_conf
  when: not mongodb_is_container

- name: thp | enable tuned profile
  ansible.builtin.command: tuned-adm profile virtual-guest-no-thp
  when:
    - ansible_facts['virtualization_type'] != 'docker'
    - tuned_conf.changed
  changed_when: true
  ignore_errors: true

- name: thp | check transparent hugepages in kernel
  ansible.builtin.command: cat /sys/kernel/mm/transparent_hugepage/enabled
  changed_when: false
  register: check_hugepages
  when: not mongodb_is_container

- name: thp | load tuned-adm profile in kernel
  ansible.builtin.command: /sbin/tuned-adm profile no-thp
  when:
    - ansible_facts['virtualization_type'] != 'docker'
    - "'[always] madvise never' in check_hugepages.stdout"
  changed_when: true
  ignore_errors: true

- name: thp | set service file
  ansible.builtin.template:
    src: disable-transparent-hugepages.service.j2
    dest: /etc/systemd/system/disable-transparent-hugepages.service
    owner: root
    group: root
    mode: "0644"
  notify: systemd reload
  when: not mongodb_is_container

- name: thp | enable and start transparent hugepages when set
  ansible.builtin.service:
    name: disable-transparent-hugepages
    enabled: true
    state: started
  when: ansible_facts['virtualization_type'] != 'docker'
  ignore_errors: true
