# mongod.conf

# temporary file, for initial setup

security:
  authorization: disabled

systemLog:
{{ mongodb_systemlog | to_nice_yaml(indent=2) | indent(width=2, first=True) }}

storage:
  dbPath: {{ mongodb_storage.dbPath }}
  {% if mongodb_version <= 6.0 -%}
  journal:
    enabled: true
  {% endif %}

processManagement:
  fork: true
  pidFilePath: /var/run/mongodb/mongod.pid
  timeZoneInfo: /usr/share/zoneinfo

net:
  port: {{ mongodb_net.port }}
  bindIp: {{ mongodb_net.bindIp }}

{% if replication_init is defined and replication_init %}
replication:
{{ mongodb_replication | to_nice_yaml(indent=2) | indent(width=2, first=True) }}
{% endif %}
