# mongod.conf

{{ ansible_managed | comment }}

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

systemLog:
{{ mongodb_systemlog | to_nice_yaml(indent=2) | indent(width=2, first=True) }}

storage:
{{ mongodb_storage | to_nice_yaml(indent=2) | indent(width=2, first=True) }}

processManagement:
{{ mongodb_processmanagement | to_nice_yaml(indent=2) | indent(width=2, first=True) }}

net:
{{ mongodb_net | to_nice_yaml(indent=2) | indent(width=2, first=True) }}

{% if mongodb_security != '' %}
security:
{{ mongodb_security | to_nice_yaml(indent=2) | indent(width=2, first=True) }}
{% else %}
#security:
{% endif %}

{% if mongodb_operationprofiling != '' %}
operationProfiling:
{{ mongodb_operationprofiling | to_nice_yaml(indent=2) | indent(width=2, first=True) }}
{% else %}
#operationProfiling:
{% endif %}

{% if mongodb_replication != '' %}
replication:
{{ mongodb_replication | to_nice_yaml(indent=2) | indent(width=2, first=True) }}
{% else %}
#replication:
{% endif %}

{% if mongodb_sharding != '' %}
sharding:
{{ mongodb_sharding | to_nice_yaml(indent=2) | indent(width=2, first=True) }}
{% else %}
#sharding:
{% endif %}

## Enterprise-Only Options
{% if mongodb_auditlog != '' %}
auditLog:
{{ mongodb_auditlog | to_nice_yaml(indent=2) | indent(width=2, first=True) }}
{% else %}
#auditLog:
{% endif %}

{% if mongodb_snmp != '' %}
snmp:
{{ mongodb_snmp | to_nice_yaml(indent=2) | indent(width=2, first=True) }}
{% else %}
#snmp:
{% endif %}

{% if mongodb_custom_cnf != '' %}
{% for section_name, section_contents in mongodb_custom_cnf.items() %}
{{ section_name }}:
{% for key, value in section_contents.items() %}
{% if value is defined and value %}
  {{ key }}: {{ value }}
{% else %}
{{ key }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
